<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改快递公司')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-couriercompany-edit" th:object="${wuliuCouriercompany}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">最后修改人：</label>
            <div class="col-sm-8">
                <input name="updatep" th:field="*{updatep}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">快递公司名字：</label>
            <div class="col-sm-8">
                <input name="couriercompany" th:field="*{couriercompany}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">负责人名字：</label>
            <div class="col-sm-8">
                <input name="theName" th:field="*{theName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">地址：</label>
            <div class="col-sm-8">
                <input name="address" th:field="*{address}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">负责人手机号：</label>
            <div class="col-sm-8">
                <input name="theNamePhone" th:field="*{theNamePhone}" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "wuliu/couriercompany";
    $("#form-couriercompany-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-couriercompany-edit').serialize());
        }
    }
</script>
</body>
</html>