<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改村点')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-point-edit" th:object="${villagePointVo}">
        <input name="id" th:field="*{villagePoint.id}" type="hidden" id="id">
        <div class="form-group">
            <label class="col-sm-3 control-label">村点名称：</label>
            <div class="col-sm-8">
                <input name="villageName" th:field="*{villagePoint.villageName}" class="form-control" type="text" id="villageName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">省：</label>
            <div class="col-sm-8">
                <input name="address" th:field="*{villagePoint.provinces}" class="form-control" type="text" id="provinces">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">市：</label>
            <div class="col-sm-8">
                <input name="address" th:field="*{villagePoint.cities}" class="form-control" type="text" id="cities">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">县：</label>
            <div class="col-sm-8">
                <input name="address" th:field="*{villagePoint.counties}" class="form-control" type="text" id="counties">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">详细地址：</label>
            <div class="col-sm-8">
                <input name="address" th:field="*{villagePoint.address}" class="form-control" type="text" id="address">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">经度：</label>
            <div class="col-sm-8">
                <input name="longitude" th:field="*{villagePoint.longitude}" class="form-control" type="text" id="longitude">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">纬度：</label>
            <div class="col-sm-8">
                <input name="latitude" th:field="*{villagePoint.latitude}" class="form-control" type="text" id="latitude">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">负责人：</label>
            <div class="col-sm-8">
                <input name="head" th:field="*{villagePoint.head}" class="form-control" type="text" id="head">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">负责人电话：</label>
            <div class="col-sm-8">
                <input name="headPhone" th:field="*{villagePoint.headPhone}" class="form-control" type="text" id="headPhone">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">审批人姓名：</label>
            <div class="col-sm-8">
                <input name="examinationName" th:field="*{villagePoint.examinationName}" class="form-control" type="text" id="examinationName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">负责人身份证号：</label>
            <div class="col-sm-8">
                <input name="examinationPhone" th:field="*{villagePoint.examinationPhone}" class="form-control" type="text" id="examinationPhone">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">审批时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="examinationTime" th:value="${#dates.format(villagePointVo.villagePoint.examinationTime, 'yyyy-MM-dd HH:mm')}" class="form-control" placeholder="yyyy-MM-dd HH:mm" type="text" id="examinationTime">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">图片信息：</label>
            <div class="col-sm-8">
                <img id="img" class="img-circle img-lg form-control" th:src="@{*{villagePoint.picture}}">
                <input name="picture" type="file" id="file"/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">可送达快递公司：</label>
            <div class="col-sm-8" >
                <input name="courierCompanyIdS" th:field="*{courierCompanyIdS}" class="form-control" type="text" placeholder="请以逗号分隔" id="courierCompanyIdS">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">父级id：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input id="treeId" name="productId" type="hidden" th:field="*{villagePoint.productId}" />
                    <input class="form-control" type="text" onclick="selectPointTree()" id="treeName" readonly="true" th:field="*{villagePoint.parentName}">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script type="text/javascript">
    var prefix = ctx + "cundian/point";
    $("#form-point-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            uploadFile();
        }
    }

    function uploadFile() {
        var formData = new FormData();
        // console.log(arr);
        // formData.append('checked',arr);
        formData.append('villageName', $("#villageName").val());
        formData.append('id', $("#id").val());
        formData.append('provinces', $("#provinces").val());
        formData.append('cities', $("#cities").val());
        formData.append('counties', $("#county").val());
        formData.append('address', $("#address").val());
        formData.append('longitude', $("#longitude").val());
        formData.append('latitude', $("#latitude").val());
        formData.append('head', $("#head").val());
        formData.append('headPhone', $("#headPhone").val());
        formData.append('examinationName', $("#examinationName").val());
        formData.append('examinationPhone', $("#examinationPhone").val());
        formData.append('examinationTime', $("#examinationTime").val());
        formData.append('file', $('#file')[0].files[0]);
        formData.append('productId', $('#treeId').val());
        formData.append('courierCompanyIdS', $('#courierCompanyIdS').val());
    if ($('#file')[0].files[0]==null){

        $.ajax({
            url: prefix + "/edit1",
            type: 'post',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (result) {
                $.operate.successCallback(result);
            }
        });
        layer.closeAll();
    }else {
        $.ajax({
            url: prefix + "/edit2",
            type: 'post',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (result) {
                $.operate.successCallback(result);
            }
        });
        layer.closeAll();
    }
    }


    $("input[name='examinationTime']").datetimepicker({
        format: "yyyy-MM-dd HH:mm",
        autoclose: true
    });

    /*村点-新增-选择父部门树*/
    function selectPointTree() {
        var options = {
            title: '村点选择',
            width: "380",
            url: prefix + "/selectPointTree/" + $("#treeId").val(),
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }
    function doSubmit(index, layero){
        var body = layer.getChildFrame('body', index);
        $("#treeId").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
    }
    window.onload = function () {
        var fileTag = document.getElementById('file');
        fileTag.onchange = function () {
            var file = fileTag.files[0];
            var fileReader = new FileReader();
            fileReader.onloadend = function () {
                if (fileReader.readyState == fileReader.DONE) {
                    document.getElementById('img').setAttribute('src', fileReader.result);
                }
            };
            fileReader.readAsDataURL(file);
        };
    };
</script>
</body>
</html>