<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改发车记录')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-recording-edit" th:object="${wuliuStartRecording}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">行驶路线：</label>
                <div class="col-sm-8">
                    <input name="route" th:field="*{route}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">行驶前检查情况：</label>
                <div class="col-sm-8">
                    <input name="drivingStart" th:field="*{drivingStart}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">主管名字：</label>
                <div class="col-sm-8">
                    <input name="directorName" th:field="*{directorName}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "wuliu/recording";
        $("#form-recording-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-recording-edit').serialize());
            }
        }
    </script>
</body>
</html>